* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

/* Everything below this is the stylesheet for the products page */

.back-button-link:link,
.back-button-link:visited {
  text-decoration: none;
  color: #000;
}

.back-button-link:hover {
  text-decoration: underline;
  color: #fdb91b;
}

.product-container {
  border: 3px solid #fdb91b;
  border-radius: 1em;
  height: ;
  width: 75%;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -75%);
  display: flex;
}

.info-layout {
  padding: 1em;
}

.info-layout h2,
.info-layout p {
  padding-bottom: 0.5em;
}

.lower-buttons {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 768px) {
}
