* {
  padding: 0px;
  margin: 0px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 40px; /* Footer height */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  font-weight: 400;
}

h1 {
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*Padding causing horizontal scroll
  padding: 0 10px;*/
  border-bottom: 2px solid #eaedee;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  padding-right: 30px;
}

li {
  margin: 0 10px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #fdb91b;
}

li a:active {
  text-decoration: none;
  color: #2d2a24;
}

#logo {
  max-width: 200px;
}

/*Product top buttons*/

#productTop {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#productButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filterButton {
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
}

/*Button hover effects jsut becasue I feel like being fancy - Ami*/

.filterButton:hover {
  background-color: #fdb91b;
  color: white;
}

.filterButton:focus {
  outline: none;
}

/*Product cards styling */

#productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0 auto;
}

.productCard {
  height: 30vh;
  width: calc(100% - 66px);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 3px solid #eaedee;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.productCard:hover {
  border-color: #fdb91b;
}
/*Product Card information*/

#productImage {
  width: 150px;
  height: 150px;
}

.productName {
  text-align: center;
}

#priceAndCalories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPrice {
  color: #fdb91b;
  padding: 5px;
  margin: 5px;
}

.productCalories {
  border-left: 1px solid black;
  padding: 5px;
  margin: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2a24;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#copyright {
  color: white;
  font-weight: 1;
  font-size: 13px;
}

/*Desktop view*/

@media only screen and (min-width: 769px) {
  #productTop {
    flex-direction: row;
    max-width: 1350px;
    width: 85vw;
  }

  .productCard {
    width: calc(33% - 66px);
  }
}

@media only screen and (min-width: 1025px) {
  .productCard {
    width: calc(25% - 66px);
  }
  #productCards {
    max-width: 1350px;
  }
}
